In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("owid-covid-data.csv")

In [5]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321949,ZWE,Africa,Zimbabwe,2023-06-24,265413.0,0.0,17.714,5707.0,0.0,0.714,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
321950,ZWE,Africa,Zimbabwe,2023-06-25,265413.0,0.0,17.714,5707.0,0.0,0.714,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
321951,ZWE,Africa,Zimbabwe,2023-06-26,265413.0,0.0,0.000,5707.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
321952,ZWE,Africa,Zimbabwe,2023-06-27,265413.0,0.0,0.000,5707.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
321953,ZWE,Africa,Zimbabwe,2023-06-28,265413.0,0.0,0.000,5707.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [9]:
df.isnull().sum()

iso_code                                   0.0
continent                                  0.0
location                                   0.0
date                                       0.0
total_cases                                0.0
                                          ...
population                                 0.0
excess_mortality_cumulative_absolute       0.0
excess_mortality_cumulative                0.0
excess_mortality                           0.0
excess_mortality_cumulative_per_million    0.0
Length: 67, dtype: float64

In [ ]:
df.isnull().sum()

In [8]:
df.dropna(inplace=True)

In [21]:
# Define the row values to drop
rows_to_drop = ['new_cases_smoothed', 'new_deaths_smoothed', 'new_cases_smoothed_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'new_tests', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred', 'stringency_index', 'aged_70_older', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'human_development_index', 'excess_mortality_cumulative_absolute', 'excess_mortality']

# Drop rows based on the row values
df = df[~df.isin(rows_to_drop).any(axis=1)]

In [22]:
df.to_csv('new_coviddataset.csv', index=False)

In [23]:
columns_to_drop = ['new_cases_smoothed', 'new_deaths_smoothed', 'new_cases_smoothed_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'new_tests', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred', 'stringency_index', 'aged_70_older', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'human_development_index', 'excess_mortality_cumulative_absolute', 'excess_mortality']

# Remove leading and trailing spaces from column names
columns_to_drop = [col.strip() for col in columns_to_drop]

df = df.drop(columns=columns_to_drop, axis=1)

In [24]:
df.to_csv('new_coviddataset.csv', index=False)

In [25]:
df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,people_fully_vaccinated,total_boosters,population_density,median_age,aged_65_older,gdp_per_capita,life_expectancy,population,excess_mortality_cumulative,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,54.422,18.6,2.581,1803.987,64.83,41128772.0,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,54.422,18.6,2.581,1803.987,64.83,41128772.0,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,54.422,18.6,2.581,1803.987,64.83,41128772.0,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,54.422,18.6,2.581,1803.987,64.83,41128772.0,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,54.422,18.6,2.581,1803.987,64.83,41128772.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321949,ZWE,Africa,Zimbabwe,2023-06-24,265413.0,0.0,5707.0,0.0,16262.514,0.0,...,NaN,NaN,42.729,19.6,2.822,1899.775,61.49,16320539.0,NaN,NaN
321950,ZWE,Africa,Zimbabwe,2023-06-25,265413.0,0.0,5707.0,0.0,16262.514,0.0,...,NaN,NaN,42.729,19.6,2.822,1899.775,61.49,16320539.0,NaN,NaN
321951,ZWE,Africa,Zimbabwe,2023-06-26,265413.0,0.0,5707.0,0.0,16262.514,0.0,...,NaN,NaN,42.729,19.6,2.822,1899.775,61.49,16320539.0,NaN,NaN
321952,ZWE,Africa,Zimbabwe,2023-06-27,265413.0,0.0,5707.0,0.0,16262.514,0.0,...,NaN,NaN,42.729,19.6,2.822,1899.775,61.49,16320539.0,NaN,NaN
321953,ZWE,Africa,Zimbabwe,2023-06-28,265413.0,0.0,5707.0,0.0,16262.514,0.0,...,NaN,NaN,42.729,19.6,2.822,1899.775,61.49,16320539.0,NaN,NaN